table {
    margin: auto;
    margin-top: 5%;
}
.quatro {
    width: 50px;
    height: 50px;
    border: 2px solid black;
    background-color: blanchedalmond;
}
.active {
    width: 50px;
    height: 50px;
    border: 2px solid black;
    cursor: pointer;
    background-color:blue;
}
.player {
    width: 50px;
    height: 50px;
    border: 2px solid black;
    background-color:green;
}
.computer {
    width: 50px;
    height: 50px;
    border: 2px solid black;
    background-color: red;
}
#buttons{
    margin-top: 5%;
    display: flex;
    justify-content: space-around;
}

.start{
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: rgba(220, 0, 0, 1);
    background-image: linear-gradient(to top left,
    rgba(0, 0, 0, .2),
    rgba(0, 0, 0, .2) 30%,
    rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
    inset -2px -2px 3px rgba(0, 0, 0, .6);
}

.start:hover {
    background-color: rgba(255, 0, 0, 1);
}

.start:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
    inset 2px 2px 3px rgba(0, 0, 0, .6);
}
.output {
    padding-top: 5%;
    text-align: center;
    font-size: 32px;
    color: red;
    font-weight: bolder;
}